[MESSAGES CONTROL]
disable=
    missing-class-docstring,
    missing-function-docstring,
    unspecified-encoding,
    missing-timeout,
    invalid-name

[MASTER]
extension-pkg-allow-list=aws.authentication

ignored-classes=sqlalchemy.orm.session.sessionmaker
